{{>header}}

<div class="container-fluid" style="background-color: slategrey; text-align: center; padding: 3em 3em 3em 3em; font-family: monospace;">
    <h3 style="color: papayawhip;">{{error}}</h3>
</div>

<script>
    var body = document.querySelector('body');
    body.style.background = 'black';
</script>