<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Matcha</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:8888/static/css/style.css">
</head>
<body>
  <div id="container">

{{{body}}}

  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>